# Secrets and environment
.env
.env.*
!.env.example

# Django
media/
*.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# Testing
.pytest_cache/
